#mainContainer {
    display: grid;
    grid-template-areas: 'seriesList videosList videoContainer' ;
    grid-template-columns: 2fr 3fr 6fr;
}

#seriesList {
    grid-area: seriesList;
    text-decoration: underline;
    margin-bottom: 2px;
}

#videosList {
    grid-area: videoslist;
    
}

#videoContainer {
    grid-area: videoContainer;
}

#graphContainer img {
    max-width: 100%;
}

#seriesList p {
    margin: 7px;
    background-color: darkgray;
    border: 2px;
    border-color: black;
    border-style: solid;
}

#seriesList p:hover{
    color: white;
    margin: 3px;
    background-color: dimgray;
}

#videoLstContent p  {
    margin: 7px;
    background-color: darkgray;
    border: 2px;
    border-color: black;
    border-style: solid;
}

#videoLstContent p:hover{
    color: white;
    margin: 3px;
    background-color: dimgray;
}

