#mainContainer {
    display: grid;
    grid-template-areas: 'seriesList videosList videoContainer' ;
    grid-template-columns: 2fr 3fr 6fr;
}

#seriesList {
    grid-area: seriesList;
    text-decoration: underline;
    margin-bottom: 2px;
}

#videosList {
    grid-area: videoslist;
    
}

#videoContainer {
    grid-area: videoContainer;
}

#graphContainer img {
    max-width: 100%;
}
